/* .signUp-Container {
  position: absolute;
  width: 1680px;
  height: 960px;
  left: 80px;
  top: 1200px;

  background: #ffffff;
} */

.signUp-text {
  position: absolute;
  width: 686px;
  left: 80px;
  top: 350px;
}

.signUp-form {
  position: absolute;
  width: 600px;
  height: 439px;
  left: 850px;
  top: 220px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.signUp-h3 {
  position: absolute;
  width: 558px;
  height: 36px;
  left: 78px;
  top: 32px;

  /* Body H3 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */

  letter-spacing: -0.015em;

  color: #000000;
}

.signUp-firstName {
  position: absolute;
  width: 237px;
  height: 40px;
  left: 78px;
  top: 130px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.signUp-lastName {
  position: absolute;
  width: 237px;
  height: 40px;
  left: 330px;
  top: 130px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.signUp-email {
  position: absolute;
  width: 494px;
  height: 40px;
  left: 78px;
  top: 200px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.signUp-password {
  position: absolute;
  width: 494px;
  height: 40px;
  left: 78px;
  top: 271px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.signup-button {
  position: absolute;
  width: 130px;
  height: 40px;
  left: 78px;
  top: 335px;
  border-radius: 0.5rem;
}
